* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 5rem;
  padding: 0 5rem;
  background-color: #c7e3eb;
}

.image-container {
  position: relative;
  border-radius: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#umbrella-image {
  position: relative;
  padding: 20px;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

#loader-image {
  display: none;
  width: 50px;
  height: 50px;
  object-fit: contain;
  animation: spin infinite 2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#umbrella-container {
  position: relative;
}

#uploaded-logo {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  max-height: 50px;
  object-fit: contain;
}

.tool-container {
  width: 50%;
}

#color-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 20px 0;
}

.color-button {
  padding: 0.8rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#upload-button {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #0f8bf1;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#upload-icon {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 25px;
  fill: rgba(255, 255, 255, 1);
}

#remove-file {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.upload-instruction {
  font-size: 0.765rem;
}

/* media query for reponsiveness */
@media screen and (max-width: 950px) {
  #container {
    flex-direction: column;
  }

  .image-container {
    width: 80%;
  }

  .tool-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .image-container {
    width: 95%;
  }

  .tool-container {
    width: 95%;
  }

  #umbrella-image {
    max-width: 350px;
    max-height: 350px;
  }
}
