* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #0f8bf1;
  --color-blue-border: #95d7e9;
  --color-light-blue: #c7e3eb;
  --color-pink: #f10fe6;
  --color-pink-border: #efbef3;
  --color-light-pink: #f5e2f7;
  --color-yellow: #f1c80f;
  --color-yellow-border: #f3ecb2;
  --color-light-yellow: #fcfae7;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 5rem;
  padding: 0 5rem;
  background-color: var(--color-light-blue);
}

.image-container {
  position: relative;
  border-radius: 50%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#umbrella-image {
  position: relative;
  padding: 20px;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}

#loader-image {
  display: none;
  width: 50px;
  height: 50px;
  object-fit: contain;
  animation: spin infinite 2s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#umbrella-container {
  position: relative;
}

#uploaded-image {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  max-height: 50px;
  object-fit: contain;
}

.tool-container {
  flex: 1;
}

.color-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 20px 0;
}

.color-button {
  padding: 0.8rem;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

#pink-button {
  background-color: var(--color-pink);
  border: 3px solid var(--color-pink-border);
}
#pink-button.active {
  border: 5px solid var(--color-pink-border);
}

#blue-button {
  background-color: var(--color-blue);
  border: 3px solid var(--color-blue-border);
}
#blue-button.active {
  border: 5px solid var(--color-blue-border);
}

#yellow-button {
  background-color: var(--color-yellow);
  border: 3px solid var(--color-yellow-border);
}
#yellow-button.active {
  border: 5px solid var(--color-yellow-border);
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.upload-button {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: var(--color-blue);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  position: relative;
}

#uploaded-logo {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
}
